<nav aria-label="Breadcrumb" class="py-2 text-sm bg-[#F8F8FF] border-b border-[#FFFFFF]">
    <div class="container mx-auto px-4">
        <ol class="flex flex-wrap gap-2 list-none p-0 m-0">
            <li><a href="/" class="hover:underline" title="Home">Home</a> / </li>
            <li><a href="/brazil" class="hover:underline" title="Brazil Immigration">Brazil</a> / </li>
            <li><a href="/southeast-region,-brazil" class="hover:underline" title="Southeast Region, Brazil">Southeast Region, Brazil</a> / </li>
            <li aria-current="page" class="font-bold">São Paulo</li>
        </ol>
    </div>
</nav>